<md-card>
    <md-card-header>
        <md-card-avatar>
            <i class="material-icons">announcement</i>
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-title" ng-if="issueEF.TemplateName.startsWith('Interface')">Interface: {{issueEF.Attributes["Name"].Value.Value}} {{issueEF.Name}} </span>
            <span class="md-title" ng-if="issueEF.TemplateName.startsWith('Machine')">Machine: {{issueEF.Attributes["Name"].Value.Value}} {{issueEF.Name}} </span>
            <div class="md-subhead" ng-if="issueEF.TemplateName.startsWith('Interface')">
                Status Summary:
                <span ng-class="getLabelClassesFromStatusText(issueEF.Attributes['Status Summary'].Value.Value)" ng-if="issueEF.TemplateName.startsWith('Interface')">{{issueEF.Attributes["Status Summary"].Value.Value}}</span>
                <div class="inline" ng-if="issueEF.TemplateName.startsWith('Interface')">
                    <md-tooltip md-direction="top">
                        Interface uptime percentage for the past week
                    </md-tooltip>
                    Uptime: {{issueEF.Attributes["Uptime Percent"].Value.Value | number:0}}%
                </div>
            </div>
        </md-card-header-text>
    </md-card-header>
    <md-card-content>
        <md-list>
            <!--interface specific-->
            <md-list-item class="md-2-line" ng-if="issueEF.TemplateName.startsWith('Interface')">
                <md-icon aria-label="comment" class="md-avatar material-icons">timeline</md-icon>
                <div class="md-list-item-text">
                    <h3>Data status:</h3>
                    <p>
                        <span ng-class="getLabelClassesFromStatusText(issueEF.Attributes['Intf Status Tag-Status'].Value.Value.Name)">
                                                {{issueEF.Attributes['Intf Status Tag-Status'].Value.Value.Name}}</span>                        Last Good: <span class="timestamp">{{issueEF.Attributes['Intf Status Tag.Last Good'].Value.Value.Name || issueEF.Attributes['Intf Status Tag.Last Good'].Value.Value | timeAgo}}</span>
                    </p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line" ng-if="issueEF.TemplateName.startsWith('Interface')">
                <md-icon aria-label="signal" ng-show="issueEF.Attributes['Ping Latency'].Value.Value.Name == null" class="md-avatar material-icons">wifi</md-icon>
                <md-icon aria-label="signal" ng-hide="issueEF.Attributes['Ping Latency'].Value.Value.Name == null" class="md-avatar material-icons">signal_wifi_off</md-icon>
                <div class="md-list-item-text">
                    <h3>Ping status:</h3>
                    <p>
                        <div class="inline ping-response">
                            <span ng-class="{'label label-warning':(issueEF.Attributes['Ping Latency'].Value.Value.IsSystem && issueEF.Attributes['Ping Latency'].Value.Value.Name != 'I/O Timeout'),'label label-success':(issueEF.Attributes['Ping Latency'].Value.Value >= 0), 'label label-danger':(issueEF.Attributes['Ping Latency'].Value.Value.Name.startsWith('I/O Timeout'))}">
                                            {{issueEF.Attributes['Ping Latency'].Value.Value.Name == null?((issueEF.Attributes['Ping Latency'].Value.Value | number:3) +' ms'):issueEF.Attributes['Ping Latency'].Value.Value.Name}}
                            </span> 
                            Last Good: <span class="timestamp">{{issueEF.Attributes['Ping Latency.Last Good'].Value.Value.Name || issueEF.Attributes['Ping Latency.Last Good'].Value.Value | timeAgo}}
                            <md-tooltip md-direction="top">
                                {{issueEF.Attributes['Ping Latency.Last Good'].Value.Value.Name || issueEF.Attributes['Ping Latency.Last Good'].Value.Value | timeAgo}}
                            </md-tooltip>
                        </div> <br/> IP Address: {{issueEF.Attributes["Source Machine IP"].Value.Value}}
                    </p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line" ng-if="issueEF.TemplateName.startsWith('Interface')">
                <div class="md-list-item-text">
                    Plant ID:
                    <md-button class="" ng-click="prefs.plantSearchText = issueEF.Attributes['Plant ID'].Value.Value">
                        <md-tooltip md-direction="top">
                            View full status for plant {{issueEF.Attributes["Plant ID"].Value.Value}} and view values 
                        </md-tooltip>
                        {{issueEF.Attributes["Plant ID"].Value.Value}}
                        <md-icon aria-label="go-to" class="material-icons">share</md-icon>
                    </md-button>
                </div>
            </md-list-item>
            <!--machine specific-->
            <md-list-item class="md-2-line" ng-if="issueEF.TemplateName.startsWith('Machine')">
                <md-icon aria-label="signal" class="md-avatar material-icons">multiline_chart</md-icon>
                <div class="md-list-item-text">
                    <h3>Overall status:</h3>
                    <span ng-if="issueEF.TemplateName.startsWith('Machine')"><pi-value ng-class="getLabelClassesFromStatusText(issueEF.Attributes['Machine Status'].Value.Value)" value="issueEF.Attributes['Machine Status'].Value" prefs="prefs"></pi-value>: <pi-value value="issueEF.Attributes['Machine Status Summary'].Value" prefs="prefs"></pi-value></span>
                </div>
            </md-list-item>
                
            
            <md-list-item class="md-2-line" ng-if="issueEF.TemplateName.startsWith('Machine')">
                <md-icon aria-label="signal" class="md-avatar material-icons">developer_board</md-icon>
                <div class="md-list-item-text">
                    <h3>CPU status:</h3>
                    <p>
                        {{issueEF.Attributes['CPU Usage'].Value.Value | number:1}} {{issueEF.Attributes['CPU Usage'].Value.UnitsAbbreviation}}
                            <br />
                        Status: <pi-value ng-class="getLabelClassesFromStatusText(issueEF.Attributes['CPU Warning'].Value.Value)" value="issueEF.Attributes['CPU Warning'].Value" prefs="prefs"></pi-value>                        
                    </p>
                </div>
            </md-list-item>
            
            <md-list-item class="md-2-line" ng-if="issueEF.TemplateName.startsWith('Machine')">
                <md-icon aria-label="signal" class="md-avatar material-icons">memory</md-icon>
                <div class="md-list-item-text">
                    <h3>Available RAM:</h3>
                    <p>
                        {{issueEF.Attributes['Available Memory'].Value.Value | number:1}} {{issueEF.Attributes['Available Memory'].Value.UnitsAbbreviation}}
                            <br />
                        Status: <pi-value ng-class="getLabelClassesFromStatusText(issueEF.Attributes['% Memory Warning'].Value.Value)" value="issueEF.Attributes['% Memory Warning'].Value" prefs="prefs"></pi-value>                        
                    </p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line" ng-if="issueEF.TemplateName.startsWith('Machine')">
                <md-icon aria-label="signal" class="md-avatar material-icons">storage</md-icon>
                <div class="md-list-item-text">
                    <h3>Disk Status:</h3>
                    <p>
                        Status: <pi-value ng-class="getLabelClassesFromStatusText(issueEF.Attributes['Disk Status Summary'].Value.Value)" value="issueEF.Attributes['Disk Status Summary'].Value" prefs="prefs"></pi-value>                        
                    </p>
                </div>
            </md-list-item>
            <!--<md-list-item class="md-2-line" ng-if="issueEF.TemplateName.startsWith('Machine')">
                <md-icon aria-label="signal" class="md-avatar material-icons">settings_ethernet</md-icon>
                <div class="md-list-item-text">
                    <h3>Other Status:</h3>
                    <p>
                        # of issues: {{issueEF.Attributes['Other Warnings'].Value.Value}} {{issueEF.Attributes['Other Warnings Text'].Value.Value}}
                            
                    </p>
                </div>
            </md-list-item>-->

            <!--general issue attributes-->
            <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                    <h3>Description: </h3>  <p>{{issueEF["Description"]}}</p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                    Duration: {{(issueEF.Attributes["Duration"].Value.Value / 60) | number:0}} mins
                </div>

                <div class="md-list-item-text">
                    Start: {{(issueEF["StartTime"]) | timeAgo}}, End: {{issueEF["EndTime"].startsWith('9999')?'STILL OPEN':(issueEF["EndTime"] | timeAgo)}}
                </div>
            </md-list-item>
            <!--<md-list-item class="md-2-line">
                                        <div class="md-list-item-text">
                                            <form ng-submit="updateValue(issueEF.Attributes['Status/Note'].WebId, {Value:issueEF.newStatusValue})">
                                                <md-input-container>
                                                    <label>Update the interface status</label>
                                                    <md-tooltip md-direction="top">
                                                        Current status is: "{{issueEF.Attributes['Status/Note'].Value.Value.Name}}"
                                                    </md-tooltip>
                                                    <md-select class="md-no-underline" ng-model="issueEF.newStatusValue">
                                                        <md-option value="0">Good</md-option>
                                                        <md-option value="1">Under Maintenance</md-option>
                                                        <md-option value="2">Problem</md-option>
                                                        <md-option value="3">Other</md-option>
                                                        <md-option value="4">Shut down</md-option>
                                                        <md-option value="5">Transitioning to OPC</md-option>
                                                        <md-option value="6">Idle</md-option>
                                                    </md-select>
                                                </md-input-container>

                                                <md-button class="md-raised" ng-click="updateValue(issueEF.Attributes['Status/Note'].WebId, {Value:issueEF.newStatusValue})"
                                                    ng-disabled="isUpdating || !(issueEF.newStatusValue >= 0 && issueEF.newStatusValue <= 6)"
                                                    type="submit">Update
                                                </md-button>

                                                <md-button class="md-raised md-primary" ng-disabled="isUpdating || issueEF.Attributes['Status/Note'].Value.Value.Value === 0"
                                                    ng-click="updateValue(issueEF.Attributes['Status/Note'].WebId, {Value:0})"
                                                    type="button">Set to OK
                                                    <md-icon aria-label="comment" class="material-icons">check</md-icon>
                                                </md-button>
                                            </form>
                                        </div>
                                    </md-list-item>-->
            <form ng-submit="updateValue(issueEF.Attributes['Resolution-String'].WebId, issueEF.Attributes['Resolution-String'].newValue);getRecentIssuesEF()">
                <div layout="row" class="md-block">
                    <md-input-container flex class="md-block">
                        <label>Resolution: </label>
                        <md-tooltip md-direction="top">
                            Currently: "{{issueEF.Attributes['Resolution-String'].Value.Value}}"
                        </md-tooltip>
                        <input placeholder="{{issueEF.Attributes['Resolution-String'].Value.Value}}" ng-model="issueEF.Attributes['Resolution-String'].newValue">
                    </md-input-container>
                    <div>
                        <md-button class="md-raised" ng-disabled="isUpdating" type="submit">Update</md-button>
                    </div>
                </div>
            </form>
            <md-list-item>
                <div class="md-list-item-text">
                    Resolution code: {{issueEF.Attributes["Resolution-Code"].Value.Value.Name}}
                    <md-input-container>
                        <label>Update: {{issueEF.Attributes['Resolution-Code'].Value.Value.Name}}</label>
                        <md-tooltip md-direction="top">
                            Current status is: "{{issueEF.Attributes['Resolution-Code'].Value.Value.Name}}"
                        </md-tooltip>
                        <md-select class="md-no-underline" ng-model="issueEF.Attributes['Resolution-Code'].newStatusValue">
                            <md-option ng-repeat="(num, text) in prefs.resolutionCodes" ng-value="num">{{text}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-button class="md-raised" ng-click="updateValue(issueEF.Attributes['Resolution-Code'].WebId, {Value:issueEF.Attributes['Resolution-Code'].newStatusValue});getRecentIssuesEF()"
                        ng-disabled="isUpdating" type="submit">Update
                        </md-button>

                        <md-button class="md-raised md-warn" ng-click="updateValue(issueEF.Attributes['Is Legitimate'].WebId, {Value:0});getRecentIssuesEF()"
                            ng-disabled="isUpdating">No
                            </md-button>
                            <md-button class="md-raised md-primary" ng-click="updateValue(issueEF.Attributes['Is Legitimate'].WebId, {Value:1});getRecentIssuesEF()"
                                ng-disabled="isUpdating">Yes
                                </md-button>
                </div>
            </md-list-item>
            <md-list-item ng-show="issueEF.Attributes['Is Legitimate']">
                <div class="md-list-item-text">
                    Is Legitimate: {{issueEF.Attributes["Is Legitimate"].Value.Value.Name}}
                    <md-input-container>
                        <label>Update: {{issueEF.Attributes['Is Legitimate'].Value.Value.Name}}</label>
                        <md-tooltip md-direction="top">
                            Current status is: "{{issueEF.Attributes['Is Legitimate'].Value.Value.Name}}"
                        </md-tooltip>
                        <md-select class="md-no-underline" ng-model="issueEF.Attributes['Is Legitimate'].newStatusValue">
                            <md-option value="0">No</md-option>
                            <md-option value="1">Yes</md-option>
                            <md-option value="2">Not Checked</md-option>
                        </md-select>
                    </md-input-container>

                    <md-button class="md-raised" ng-click="updateValue(issueEF.Attributes['Is Legitimate'].WebId, {Value:issueEF.Attributes['Is Legitimate'].newStatusValue});getRecentIssuesEF()"
                        ng-disabled="isUpdating" type="submit">Update
                        </md-button>

                        <md-button class="md-raised md-warn" ng-click="updateValue(issueEF.Attributes['Is Legitimate'].WebId, {Value:0});getRecentIssuesEF()"
                            ng-disabled="isUpdating">No
                            </md-button>
                            <md-button class="md-raised md-primary" ng-click="updateValue(issueEF.Attributes['Is Legitimate'].WebId, {Value:1});getRecentIssuesEF()"
                                ng-disabled="isUpdating">Yes
                                </md-button>
                </div>
            </md-list-item>
        </md-list>


    </md-card-content>
</md-card>